<div class="wrapper row-offcanvas row-offcanvas-left">
	<!-- Left side column. contains the logo and sidebar -->
	<aside class="left-side sidebar-offcanvas">
	</aside>
	<!-- Right side column. Contains the navbar and content of the page -->
	<aside class="right-side">
		<!-- Content Header (Page header) -->
		<section class="content-header">
			<h1>
				Création de Questionaire
				<small>Qcm form</small>
			</h1>
			<ol class="breadcrumb">
				<li><a href="#/"><i class="fa fa-dashboard"></i> Home</a></li>
				<li class="active">Passer le test</li>
			</ol>
		</section>
		<!-- Main content -->
		<section class="content">
			<div class="row">
				<div class="col-md-6">
					<div class="box box-warning">
						<div class="box-body mleft">
							<form>
								<div class="row">
									<h1>Titre du questionaire</h1>
								</div>
								<div class="row">
									<h4>Titre de la question v/f</h4>
									<button class="btn btn-success">Vrai</button>
									<button class="btn btn-danger">Faux</button>
								</div>
								<hr>
								<div class="row">
									<h4>Titre de la question cm</h4>
									<label><input type="radio" name="sex" value="male">&nbsp;Lorem 1</label>    
									<br>
									<label><input type="radio" name="sex" value="female">&nbsp;Lorem 2</label> 
								</div>
								<hr>
								<div class="form-group">
									<a href="#/result" class="btn btn-success btn-lg">Valider <i class="fa fa-plus"></i></a>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- /.content -->
	</aside>
	<!-- /.right-side -->
</div>
<!-- ./wrapper -->